/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.img-60 {
    width: 90%;
}

/* DEBUG */
body {
    /* background-color: aqua; */
}

.fa-check {
    color: #0061fe;
}

/* UTILITY */

/* .round-button {
    background-color: #0061fe;
    border-radius: 50%;

} */

hero i {
    font-size: 2rem;

}
.text-align {
    text-align: center;
}

 ul {
    list-style: none;
 }

 .ul-header {
    gap: 25px;
 }

 li {
    padding: 8px 0px;
 }

.flex-justify {
    display: flex;
    justify-content: space-between;
}

.pad-btm-10 {
    padding-bottom: 10px;
}
.mg-bottom-20 {
    margin-bottom: 20px;
}

.mg-bottom-40 {
    margin-bottom: 40px;
}

.margin-right-25 {
margin-right: 25px;
}

.margin-left-5 {
    margin-left: 5px;
}

.header-container :link:not(.button-blue) {
    color: #000000;
}

.no-decoration :link {
    text-decoration: none;
}

h1 {
    font-size: 3.5rem;

}

.button {
 padding: 5px 10px;
}

.button-blue {
    background-color: #0061fe;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    padding: 5px;
}

.button-white {
    background-color: #ffffff;
    border: 1px solid black;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    color: #000000;
    width: fit-content;
}



/* COMMON */

hr .col-others {
    color: #eee;
    width: 20%;
}

h2 {
    font-size: 2rem;
    font-weight: 600;
}

h3 {
    font-size: 1.5rem;
    font-weight: 600;
}

h4 {
    font-size: 0.8rem;
    font-weight: 700;
}

/* Typography */

body {
    font-family: sans-serif;
}

.font-size-12 {
    font-size: 12px;
}

.price-bold {
    font-size: 12px;
    font-weight: 700;
}

.time-cursive {
    font-size: 12px;
    font-style: italic;
    color: #afafaf;
}


/* CONTAINERS */

/* header */

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
    align-content: center;
    align-items: center;
}

.menu-sx {
    display: flex;
    align-items: center;


}

.menu-dx {
    display: flex;

}

/* main */

.hero-footer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    max-width: 100%;
    margin: 0 auto;
    max-width: 80%;
    margin-top: 44px;
    margin-bottom: 200px;
}

.hero-top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    max-width: 100%;
    margin: 0 auto;
    margin: 30px;
}

.hero-bottom {
 display: flex;
 flex-direction: row;
 margin: 0 auto;
 width: 100%;
margin: 35px;
}

.hero-col-sx {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 100%;
    /* debug */
    width: 40%;
    gap: 30px;
    padding: 0 10px;
}

.hero-col-dx {

    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 100%;
    /* debug */
    width: 60%;
    height: 300px;

}

/* main */

.main-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 0 auto;
    max-width: 50%;
    margin-top: 30px;
}

.main-section {
     display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 100%;
    margin: 0 auto;
    width: 100%;
}

.col-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  margin: 63px 0;
}

.col-30 {
    flex: 1;
    max-width: 30%;
    border: 1px solid #eee;
    height: 800px;
}
 /* variante */
.col-big .col-30 {
    border: none;
    margin-top:  30px;
    height: auto;
}


.col-header {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-content: center;
    margin: auto 0;
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

.col-others {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto 0;
    width: 84%;
    gap: 20px;
    margin: 0 16px;
    margin-bottom: 90px;
    text-align: left;
    margin-top: 10px;
}

.col-big {
    display: flex;
    max-width: 100%;
    flex-direction: column;
    width: 100%;
    border: 1px solid #eee;
    margin-bottom: 100px;
}
.partner-box {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    margin: 0 auto;
    padding-bottom: 85px;

}

.partner-box .hero-col-dx {
    justify-content: flex-start;
    max-width: 100%;
    gap: 15px;
    padding-left: 45px;
}

.card-container {
    display: flex;
    max-width: 100%;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
    margin-bottom: 100px;
}

/* footer */

.top-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    /* debug */
    background-color: darkgrey;
    border: 1px solid white;
    width: 100%;
    min-height: 50%;


}

.bottom-footer {
    background-color: cadetblue;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    max-width: 100%;
    /* debug */
    border: 1px solid white;
    width: 100%;
    min-height: 50%;
}

/* HEADER */
 header {
    background-color: white;
    max-width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
 }



/* MAIN */


.titolo cards {

}

card {
    width: 280px;
    height: 430px;
}

.hero-background {
    background-color: #b4d0e6;
}

/* FOOTER */

.top-footer .col-30 {
    height: auto;
}

footer {
    background-color: black;
    width: 100%;
}